# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore


# =========================================================================================================
# NETBEANS specific
# =========================================================================================================
nbproject/private/
build/
nbbuild/**
dist/**
nbdist/**
nbactions.xml
nb-configuration.xml


# =========================================================================================================
# InteliJ IDEA specific
# =========================================================================================================
.idea/
.idea/*
.idea/**
*.iml

# =========================================================================================================
# VS CODE specific
# =========================================================================================================
.vscode/
.vscode/*
.vscode/**



# =========================================================================================================
# Eclipse IDE specific
# =========================================================================================================
*bin
**bin
*bin/
**bin/
*catalog
**catalog
*catalog/
**catalog/
*.project
**.project
*.classpath
**.classpath
*.settings
**.settings
*.settings/
**.settings/


# =========================================================================================================
# Java Files
# =========================================================================================================
*.class
*.jar
*.war
*.ear


# =========================================================================================================
# MacOS Files
# =========================================================================================================
.DS_Store


# =========================================================================================================
# NODE artifact files
# =========================================================================================================

node_modules/
node_modules/**
dist/
dist/**


# =========================================================================================================
# PYTHON artifact files
# =========================================================================================================
*.py[cod]
__pycache__
*__pycache__
**__pycache__


# =========================================================================================================
# MAVEN artifact files
# =========================================================================================================
target/
*target/
**target/
target/**
dist/
dist/**


# =========================================================================================================
# APPLICATIONS artifact files
# =========================================================================================================
*.app
*.exe
